* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	font-size: 100%
}

body {
	margin-top: 20px;
	font: 400 1rem/1rem Roboto, sans-serif;
	background-color: #91759e;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #fff;
	border-radius: 7px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
	width: 100%;
	padding: 2%;
	font: normal 1rem 'Roboto Slab', serif;
	border-bottom: 1px solid #ccc;
}

h1 {
	font: bold 2rem 'Roboto Slab', serif;
	color: #91759e;
}

h2 {
	font: bold 1.5rem 'Roboto Slab', serif;
	color: #91759e;
	margin-bottom: 0.8rem;
}

.search,
.list {
	position: relative;
	width: 50%;
	padding: 2%;
	min-height: 150px;
}

.list {
	border-left: 1px solid #ccc;
}

label {
	display: inline-block;
	float: left;
	font: 500 1rem/2rem Roboto, sans-serif;
	width: 15%;
}

input {
	width: 85%;
	font: normal 1rem/2rem Roboto, sans-serif;
	padding: 0 0.3rem;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #eee;
}

.results-window {
	position: absolute;
	display: none;
	width: 78%;
	right: 4%;
	background-color: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.search-list {
	padding: 2%;
	list-style: none;
}

.result {
	font: normal 1rem/1.2rem Roboto, sans-serif;
	padding: 1%;
	color: #666;
	display: flex;
	flex-wrap: wrap;
}

.result:hover {
	background-color: #eee;
	cursor: pointer;
}

.result-food {
	width: 75%;
	padding-right: 1%;
	text-align: justify;
}

.result-calories {
	width: 25%;
	float: right;
	text-align: right;
	color: #7c9b44;
	white-space: nowrap;
  overflow: hidden;
}

.food {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.food-name {
	width: 75%;
	padding-right: 1%;
	font: normal 1.2rem/1.5rem Roboto, sans-serif;
	text-align: justify;
}

.food-calories {
	width: 25%;
	float: right;
	text-align: right;
	font: normal 1.2rem/1.5rem Roboto, sans-serif;
	color: #7c9b44;
	white-space: nowrap;
  overflow: hidden;
}


.footer {
	width: 100%;
	padding: 1rem;
	background-color: #ddd;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

@media screen and (max-width: 750px) {

	.search,
	.list {
		width: 100%;
	}

	.list {
		border-left: none;
		border-top: 1px solid #ccc
	}

}





